.home_grid {
  padding: 24px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.panel {
  color: var(--gray3);
}

.panel * :not(input, button) {
  height: auto;
  width: auto;
}

.panel * {
  transition: color .2s linear;
}

.panel :hover {
  color: white;
}

.panel > div {
  border: 2px solid var(--gray1);
  border-radius: 8px;
}

.panel .title {
  background-color: var(--gray1);
  text-align: center;
}

.panel h1 {
  background: var(--gray1);
  margin: 0px;
}

.panel .summary {
  margin: 6px;
}

.panel .tags {
  margin: 6px;
  font-size: 12px;
}
